@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var auctionSelected = true;
}

@section Head
{
    <link href="~/lib/flip-down/flipdown.min.css" rel="stylesheet" />
}

<div class="container">
    <div id="error-alert" class="alert alert-danger" role="alert" style="display: none">
        Connection to auction is lost. Try refreshing this page to restart the connection.
    </div>
    <div id="reconnected-alert" class="alert alert-success" role="alert" style="display: none">
        Connection reestablished. You can bid now.
    </div>
    <div class="row" id="user-container">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="userId">User Id:</label>
                <select id="userId" class="form-control" asp-items="@(new SelectList(Model.Users, "UserId", "UserId" ))"></select>
            </div>

            <div class="form-group">
                <label for="auctionId">Auction:</label>
                <select id="auctionId" class="form-control">
                    @foreach (var auction in Model.Auctions)
                    {
                        <option selected="@auctionSelected" data-buynow-price="@auction.BuyNowPrice" data-buynow-threshold-price="@auction.BuyNowThresholdPrice" data-reserve-price="@auction.ReservePrice" data-expiry="@auction.ExpiredAt?.ToString("yyyy-MM-ddTHH:mm:ssZ")" value="@auction.AuctionId">@auction.AuctionId</option>
                        if (auctionSelected)
                        {
                            auctionSelected = false;
                        }
                    }
                </select>
            </div>
            @*<div class="form-group">
                    <label for="maxBid">Max bid:</label>
                    <input type="number" class="form-control" placeholder="Enter max bid" id="maxBid">
                </div>*@
            <button type="button" id="connectButton" class="btn btn-primary">Connect</button>

        </div>
    </div>
    <div class="row" id="bid-container" style="display: none">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-6 form-inline">
            <div class="form-group">
                <label for="amount" class="mr-sm-5">Amount:</label>
                <input type="number" class="form-control mr-sm-5" value="1000" placeholder="Enter amount" id="amount">
                <input type="button" id="placeButton" class="btn btn-primary mr-sm-5" value="Place Bid" />
                <a id="buyNowButton" style="display: none" class="btn btn-success" href="#" >Buy now for <span></span> </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <h1 id="current-bid-container" style="display: none" class="mt-5"><span class="badge badge-secondary">Bid <span id="current-bid"></span></span></h1>
        </div>
        <div class="col-md-6">
            <div id="flipdown" class="flipdown"></div>
        </div>
        <div class="col-md-3">
            <h1 id="reserve-price-container" style="display: none" class="mt-5"><span class="badge badge-secondary">Reserve <span id="reserve-price"></span></span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="loading" class="text-center" style="display: none">
                <img src="~/images/tg_loading_spinner.gif" alt="loading..." />
            </div>
            <table id="bidsTable" class="table" style="display: none">
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Time</th>
                        <th>Bid</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/flip-down/flipdown.min.js"></script>
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/js/Queue.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/bid.js"></script>
}
